.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid lightgray;
    border-right-color: rgb(128, 97, 252);
    animation: rotate 0.8s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}