table {
    table-layout: fixed;
    min-width: 75%;
    border-collapse: collapse;
    border: 1px solid rgb(128, 97, 252);
    font-size: 20px;

}

table img {
    border-radius: 50%;
}


th {
    font-size: 25px;
    background-color: rgb(32, 28, 47);
    padding: 20px;
}

th,
td {
    text-align: center;
    padding: 5px;
    border: 1px solid rgb(128, 97, 252);
    vertical-align: middle;
}

.avatar {
    position: relative;
    cursor: pointer;
}

.avatar #tooltip {
    position: absolute;
    top: -50%;
    left: 0;
    transform: translateX(-10%);
    transition: .3s all
}

.avatar #tooltip {
    opacity: 0;
}

.avatar:hover #tooltip {
    opacity: 1;
}

h2 {
    text-align: center;
    font-size: 35px;
    margin-top: 25px;
}

@media (max-width: 1200px) {
    .wrapper {
        width: 80%;

    }
}

@media (max-width: 400px) {
    .wrapper {
        width: 100%;

    }
}