@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #111113;
    color: beige;
}

h1 {
    text-align: center;
    margin-top: 15px;
    font-size: 50px;
    text-transform: uppercase;
    color: rgb(128, 97, 252);
}

::-webkit-scrollbar {
    width: 25px;
}

::-webkit-scrollbar-track {
    background: none
}

::-webkit-scrollbar-thumb {
    background: rgb(128, 97, 252)
}